/* Colors */
:root {
  --color-page-background: rgb(245, 241, 230);
  --color-text: rgb(34, 34, 34);
  --color-text-hover: #FFF;
}

/* Typography */
.headline--huge {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}
.text--medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.25rem;
}